<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-block">
        <div>
            <span class="title"><strong>Wins</strong></span>
            <span>{{this.stats?.wins}}</span>
        </div>    
        <div>
            <span class="title"><strong>Losses</strong></span>
            <span>{{this.stats?.losses}}</span>
        </div>    
        <div>
            <span class="title"><strong>Desertions</strong></span>
            <span>{{this.stats?.desertions}}</span>
        </div>    
        <div>
            <span class="title"><strong>Byes</strong></span>
            <span>{{this.stats?.byes}}</span>
        </div>    
        <div>
            <span class="title"><strong>Forfeits</strong></span>
            <span>{{this.stats?.forfeits}}</span>
        </div>
        
        <pie-chart [stats]="this.stats"></pie-chart>  
    </div>
</div>