<div class="main-container">

  <header class="header header-5">
      <div class="branding">
          <a [routerLink]="[ '' ]" class="nav-link">
              <clr-icon shape="home" size="24"></clr-icon>
              <span class="title">Gw2 for fun</span>
          </a>
      </div>

  </header>

  <div class="progress-block" style="font-size: 1px">
    <div class="progress loop" *ngIf="showLoadingBar"><progress></progress></div>
  </div>

  <div class="content-container">
      <div class="content-area">

          <router-outlet></router-outlet>

      </div>
  </div>
</div>