<div class="container">

    <div class="clr-row">
        <div class="clr-col">
            <div class="card">
                <div class="card-header">
                    General stats
                </div>
                <div class="card-block">
                    <div>
                        <span class="title"><strong>Rank</strong></span>
                        <span>{{this.pvpStats?.pvp_rank}}</span>
                    </div>
                    <div>
                        <span class="title"><strong>Points</strong></span>
                        <span>{{this.pvpStats?.pvp_rank_points}}</span>
                    </div>
                    <div>
                        <span class="title"><strong>Rollovers</strong></span>
                        <span>{{this.pvpStats?.pvp_rank_rollovers}}</span>
                    </div>    
                    <div>
                        <span class="title">&nbsp;</span><span>&nbsp;</span>
                    </div>    
                    <div>
                        <span class="title">&nbsp;</span><span>&nbsp;</span>
                    </div>    
                </div>
            </div>
        </div>
    
        <div class="clr-col">
            <win-loss-stats
                [stats]="this.pvpStats?.aggregate"
                [title]="'Total wins/losses stats'"
            ></win-loss-stats>
        </div>
    </div>
    
    <div class="clr-row">

        <div class="clr-col" *ngIf="this.elementalistStats">
            <win-loss-stats
                [stats]="this.elementalistStats"
                [title]="'Elementalist'"
            ></win-loss-stats>
        </div>

        <div class="clr-col" *ngIf="this.engineerStats">
            <win-loss-stats
                [stats]="this.elementalistStats"
                [title]="'Engineer'"
            ></win-loss-stats>
        </div>

        <div class="clr-col" *ngIf="this.guardianStats">
            <win-loss-stats
                [stats]="this.guardianStats"
                [title]="'Guardian'"
            ></win-loss-stats>
        </div>
    
        <div class="clr-col" *ngIf="this.mesmerStats">
            <win-loss-stats
                [stats]="this.mesmerStats"
                [title]="'Mesmer'"
            ></win-loss-stats>
        </div>

        <div class="clr-col" *ngIf="this.necromancerStats">
            <win-loss-stats
                [stats]="this.necromancerStats"
                [title]="'Necromancer'"
            ></win-loss-stats>
        </div>

        <div class="clr-col" *ngIf="this.rangerStats">
            <win-loss-stats
                [stats]="this.rangerStats"
                [title]="'Ranger'"
            ></win-loss-stats>
        </div>

        <div class="clr-col" *ngIf="this.thiefStats">
            <win-loss-stats
                [stats]="this.thiefStats"
                [title]="'Thief'"
            ></win-loss-stats>
        </div>

        <div class="clr-col" *ngIf="this.warriorStats">
            <win-loss-stats
                [stats]="this.warriorStats"
                [title]="'Warrior'"
            ></win-loss-stats>
        </div>
    </div>
</div>
